<p id="forminfo"><%= @extra_info %></p>

<%= turducken_form_for @model, params do |f| %>

  <%= f.radio_button :sex, 'Female' %>Female
  <%= f.radio_button :sex, 'Male' %>Male
  
  <%= f.submit %>

<% end %>